<h1>Add Products Here:</h1>
<div class="form-group">
<form action="/add_product/item" method="post">
  <label for="name">Item</label>
  <input name="name" id="name" type="text" placeholder="e.g. Folgers" class="form-control">
  <label for="description">Description</label>
  <input name="description" id="description" type="text" placeholder="e.g. Black coffee beans with a honey aroma" class="form-control">
  <label for="price">Price</label>
  <input name="price" id="price" type="text" placeholder="e.g. $4.99" class="form-control">
  <br>
  <button type="submit" class="btn btn-danger">Add Item</button>
</form>
</div>


<a href="/add_product/item">See Product List</a>
