<h1> Item List </h1>


<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><h4><%= product.name %> </h4>
    <p><%= product.description %><br>
      $<%= product.price.to_s %>
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Add to cart
      </label><br>
      <label>
        <input type="checkbox" value="">
        Remove Item
      </label>
    </div>




  </li>

  <% end %>
</ul>
<button type="submit" class="btn btn-primary">Add Item</button>
<button type="submit" class="btn btn-danger">Delete</button>

<% else %>

<p>Nothing yet.</p>

<% end %>





<p><a href="/">Return to Main Page</a></p>
