<div class="jumbotron"><h1>Welcome to Point of Sale</h1></div>

<p> Managers Enter here:</p>

<a href="/add_product" class="btn btn-success">Enter</a>


</br>
</br>
<hr>


<p> Cashiers Enter here:</p>

<a href="/cashier" class="btn btn-primary">Enter</a>
